body {
  padding: 0;
  margin: 0;
  background: #333333;
}

#unity-container {
  position: absolute;
}

#unity-container.unity-desktop,
#unity-container.unity-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
}

#unity-canvas {
  width: 100%;
  height: 100%;
  background: #333333;
}

#unity-logo {
  position: fixed;
  bottom: 5.5vh;
  left: 50%;
  transform: translateX(-50%);
  width: 50%; 
  max-width: 496px; 
  height: auto; 
  aspect-ratio: 496 / 192; 
  display: flex;
  background: url("logo.svg") no-repeat center;
  background-size: contain;
  fill : #F1F1F1;
  z-index: 101;
}

#unity-loading-bar {
  position: fixed;
  /* width: 100%; */
  bottom: 4vh;
  left: 4vh;
  right: 4vh;
  height: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#unity-progress-bar-empty {
  width: 100%; 
  height: 100%;
  /*border: 0.25vh solid #939393; */
  background-color: #939393;
  box-sizing: border-box;
  position: relative;
}

#unity-progress-bar-full {
  height: 100%;
  background-color: #F2F2F2;
  width: 0%;
  transition: width 0.5s ease-in; /* 너비가 부드럽게 늘어나도록 */
}

.fade-out {
  opacity: 0;
  transition: opacity 0.2s ease-out;
  pointer-events: none;
}
